.airportinfo {
    width: 80%;
    margin: 0 auto; 
    padding: 20px; 
    border: none; 
    height: 80vh; 
    overflow-y: auto;
    display: flex;
}

form {
    align-items: left;
    border: none;
}

.search {
   width: 80px;
   background-color: lightskyblue;
   color: white;
   padding: 12px;
   margin: 4px;
   border: none;
   border-radius: 3px;
   cursor: pointer;
   font-size: 10pt;
}

.search:hover {
    background-color: lightcoral;
}

label {
    font-size: 20px;
    border: none;
}

#queryInput {
    width: 270px;
    padding: 10px;
    margin: 6px 0;
    border: 1px solid #aaa;
    border-radius: 4px;
}

#formSubmit {
    border: none;
    font-weight: bold;
    float: left;
}